.main {
    height: 500px;
    background-color: #eee;
    text-align: center;
}

.site {
    overflow: scroll;
}

.stage {

}

.item {
    height: 400px;
    background-color: #9fcdff;
    margin-left: 15px;
}

.line {
    text-align: center;
    overflow: scroll;
    width: auto;
}

.a-site {
    font-size: 12px;
    width: 12px;
    height: 12px;
    display: inline-block;
    overflow: hidden;
    background: #ffc107;
}

