<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房间正在维护</title>
    <link rel="stylesheet" href="/theme/index/css/welcome.css">
</head>
<body>
<div class="contanier">
    <div class="hp-container">
        <div class="bg-box"></div>
        <div class="s-box">
            <div class="tsf-p">
                <b style="font-size: 28px;color: #fff;">对不起，直播间正在维护...晚点再来吧</b>
            </div>
        </div>
        <div class="focus-mask"></div>
        <div class="err-msg">
            <p>
                <span></span>
            </p>
        </div>
    </div>
</div>
{include file='index/cnzz' /}
</body>
</html>